<!DOCTYPE html>
<html 
{% if page.lang %} lang="{{ page.lang }}" 
{% else %}
{% if site.lang %} lang="{{ site.lang }}" {% endif %}
{% endif %} 

{% if page.direction %} dir="{{ page.direction }}" 
{% else %}
{% if site.direction %} dir="{{ site.direction }}" {% endif %}
{% endif %}

>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
          </div>
        </div>

    </body>
</html>
