<!DOCTYPE html>
<html 
{% if page.language %} lang="{{ page.language }}" 
{% else %}
{% if site.language %} lang="{{ site.language }}" {% endif %}
{% endif %} 

{% if page.direction %} dir="{{ page.direction }}" 
{% else %}
{% if site.direction %} dir="{{ site.direction }}" {% endif %}
{% endif %}

>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.root }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.root }}/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="{{ site.root }}/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
          </div>
        </div>

    </body>
</html>
